/* Import Font-Family */
@import url('https://fonts.googleapis.com/css?family=Poppins:100,300,400,500,700,900');

/*LANDING PAGE CSS */
*{
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

html{
	font-size: 0.8rem;
}

@media (min-width: 544px){
	html{
		font-size: 0.9rem;
	}
}

@media (min-width: 768px){
	html{
		font-size: 1rem;
	}
}

body{
	background-image: url(../images/Image_1.png);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;

}

@media (min-width: 544px){
	body{
		background-image: url(../images/Image_1_Mobile.png);
	}
}

@media only screen and (max-width: 767px){
	body{
		background-image: url(../images/Image_1_Mobile.png);
	}
}

.navigation{
	display: block;
	padding: 1rem 1rem;
	position: absolute;
	width: 350px;
	z-index: 2;
}

.navigation img{
	width: 60px;
	height: 60px;
	margin-left: 10px;
}

.navigation > .content-wrapper{
	align-items: center;
	display: flex;
}

@media (min-width: 768px){
	.navigation{
		background: transparent;
		border: 0;
		box-shadow: none;
	}
}

.navigation .brand{
	color: white;
	font-size: 14px;
	margin-left: 10px;
	font-weight: bold;
	text-decoration: none;
	transition: all 0.8s;
    cursor: none;
}

.navigation .brand:hover{
	font-size: 18px;
}

.content-wrapper{
	position: relative;
	width: 100%;
	margin: 0 auto;
	max-width: 1200px;
}

header{
	position: relative;
	padding: 70px;
	height: 100vh;
	width: 100%;
	color: white;
	display: flex;
	text-align: left;
	align-items: center;
}

header h1{
	font-size: 3.5rem;
	font-weight: bolder;
	text-transform: uppercase;
	line-height: 1;
	margin: 0;
}

@media (min-width: 544px){
	header h1{
		font-size: 4.25rem;
	}
}

@media (min-width: 768px){
	header h1{
		font-size: 5rem;
	}
}

header h2{
	font-weight: 300;
	font-size: 1rem;
}

.content-wrapper-1{
	position: relative;
	width: 100%;
	margin: 0 auto;
}

.content-wrapper-1 img{
	width: 60px;
	height: 60px;
	transition: all 0.8s;
	cursor: pointer;
}

.content-wrapper-1 img:hover{
	width: 80px;
	height: 80px;
}


/*LOGIN PAGE CSS */
.text-block{
	position: absolute;
	top: 110px;
	background-color: trasparent;
	padding-left: 20px;
	padding-right: 20px;
}

.text-block h1 {
	font-size: 3.5rem;
	font-weight: bolder;
	text-transform: uppercase;
	line-height: 1;
	margin: 0;
}

@media (min-width: 544px){
	.text-block, .text-block h1{
		font-size: 4.25rem;
	}
}

@media (min-width: 768px){
	.text-block h1{
		font-size: 4rem;
	}
}

.text-block p{
	color: black;
	font-weight: 300;
	font-size: 25px
}
  
a{
	-webkit-transition: .3s all ease;
	-o-transition: .3s all ease;
	transition: .3s all ease; 
}

a:hover{
	text-decoration: none !important; }

.content{
	padding: 50px 20px 10px 20px;
}

@media (max-width: 991.98px){
	.content .bg{
		height: 500px;
	}
}

.content .contents, .content .bg{
	width: 50%; 
}

@media (max-width: 1199.98px){
	.content .contents, .content .bg{
		width: 100%; 	
	}
}

.content .contents .form-group, .content .bg .form-group{
	position: relative;
}

.content .contents .form-group label, .content .bg .form-group label {
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	-webkit-transition: .3s all ease;
	-o-transition: .3s all ease;
	transition: .3s all ease;
}

.content .contents .form-group input, .content .bg .form-group input {
	background: transparent;
	border-bottom: 3px solid black; 
	padding-left: 50px;
	font-size: 18px;
}

.content .contents .form-group.first, .content .bg .form-group.first {
	border-top-left-radius: 7px;
	border-top-right-radius: 7px; 
}

.content .contents .form-group.last, .content .bg .form-group.last {
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px; 	
}
		
.content .contents .form-group label, .content .bg .form-group label {
	font-size: 12px;
	display: block;
	margin-bottom: 0;
	color: #b3b3b3;
}
		
.content .contents .form-group.focus, .content .bg .form-group.focus {
	background: #fff;
}

.content .contents .form-group.field--not-empty label, .content .bg .form-group.field--not-empty label {
	margin-top: -25px;
}

.content .contents .form-control, .content .bg .form-control {
	border: none;
	padding: 0;
	font-size: 20px;
	border-radius: 0;
}

.content .contents .form-control:active, .content .contents .form-control:focus, .content .bg .form-control:active, .content .bg .form-control:focus {
	outline: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.content .bg{
	background-size: cover;
	background-position: center; 
}

.content a {
	color: #888;
	text-decoration: underline; 	
}

.content .btn {
	background-image: url(../images/Login_Icon.png);
	height: 54px;
	padding-left: 30px;
	padding-right: 30px;
}

.content .forgot-pass {
	position: relative;
	top: 2px;
	font-size: 14px; 
}

.control {
	display: block;
	position: relative;
	padding-left: 30px;
	margin-bottom: 15px;
	cursor: pointer;
	font-size: 14px; 
}

.control .caption {
	position: relative;
	top: .2rem;
	color: #888;
}

.control input {
	position: absolute;
	z-index: -1;
	opacity: 0;
}

.control__indicator {
	position: absolute;
	top: 2px;
	left: 0;
	height: 20px;
	width: 20px;
	background: #e6e6e6;
	border-radius: 4px;
}

.control--radio .control__indicator {
	border-radius: 50%;
}

.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
	background: #ccc; 
}

.control input:checked ~ .control__indicator {
	background: blue;
}
  
.col-md-8{
	top: 70px;
}

 .input-icons i {
            position: absolute;
        }
          
 .input-icons {
            width: 100%;
            margin-bottom: 10px;
        }
          
        .icon {
            padding: 10px;
            min-width: 40px;
        }

button{
	border: 0;
	background: transparent;
}

.btn-right{
	text-align: right;
}
